.modelContainer {
    margin-top: 80px;
    height: 1800px;
    background-color: var(--color-solid-black);
}

.modelContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.modelCardContainer {
    min-width: 0; /* allow it to shrink if needed */
    max-width: 1200px; /* optional, but keeps it from overflowing */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    margin: 0 auto;
    padding: 0 40px;
    margin-bottom: 80px;
}

@media (max-width: 1024px) {
    .modelCardContainer {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on tablets */
    }
}

@media (max-width: 640px) {
    .modelCardContainer {
        grid-template-columns: 1fr; /* 1 column on mobile */
    }
}

.modelCard {
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    gap: 20px;
}

.modelCard h1 {
    color: var(--color-white);
    font-size: 1.2em;
}

.modelCard p {
    color: var(--color-gray);
    line-height: 170%;
    font-weight: 500;
    font-size: .9em;
}

.orangeCircleSmall {
    position: relative;
    height: 50px;
    width: 50px;
    background-image: var(--gradient-orange);
    border-radius: 50%;
    display: inline-block;
    box-shadow:
        6px 6px 12px rgba(0, 0, 0, 0.5),   /* dark shadow bottom-right */
        -6px -6px 12px rgba(255, 255, 255, 0.2); /* light shadow top-left */
    }

.sparkleIcon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 15px;
    left: 15px
}

.modelIllustration {
    position: relative;
    max-width: 1100px;  /* Adjust based on design needs */
    height: auto;  /* Maintains aspect ratio */
    object-fit: contain;  /* Ensures the whole image fits without distortion */
    display: block;
    margin-top: 0x; /* Moves image up */
    border-radius: 15px;
    top: 30px;
}


@media screen and (max-width: 768px) {
  .primaryQuoteContainer p {
    font-size: 0.9rem;
  }

  .modelContainer {
    height: 2800px;
  }
}

.icon {
    aspect-ratio: 1/1;
    width: 50px;
    height: 50px
}